{% extends 'base.html' %}


{% block navbar %}
    <div class="pull-xs-right">
        <a class="navbar-brand" href="login/">Login</a>
    </div>
{% endblock %}



{% block main %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {{ form.media }}
    <div class="container marketing margin-top">

        <form  class="col-md-8 col-md-offset-4" id="login_form" method="post" action="/main/addtrip/">
            {% csrf_token %}


           <!-- username input-->
                <div class="form-group left">
                  <div class="col-md-4">
                  <input id="id_name" name="name" type="text" placeholder="name" class="form-control">
                  </div>
                </div>


             <!-- Origin -->

            <div class="form-group left">
              <label class="col-md-4 control-label" for="id_origin">Select Origin</label>
              <div class="col-md-4">
                <select id="id_origin" name="origin" class="form-control">
                    {% for location in locations %}
                      <option value="{{location}}">{{location}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>

            <br>

            <!-- Destination -->
            <div class="form-group left">
              <label class="col-md-4 control-label" for="id_origin">Select Destination</label>
              <div class="col-md-4">
                <select id="id_destination" name="destination" class="form-control">
                    {% for location in locations%}
                      <option value="{{location}}">{{location}}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <br>

            <div class="col-md-8">
                {{ form.date }}
            </div>
            <br>


            <!-- Select Type -->
            <div class="form-group left">
              <label class="col-md-8 control-label" for="id_looktype"></label>
              <div class="col-md-8">
                <select id="id_looktype" name="looktype" class="form-control">
                  <option value="Driver">Driver</option>
                  <option value="Passenger">Passenger</option>
                </select>
              </div>
            </div>
            <br>

               <!-- Select pass -->
            <div class="form-group left">
              <label class="col-md-4 control-label" for="id_passengers">Passengers</label>
              <div class="col-md-4">
                  <select id="id_passengers" name="passengers" class="form-control">
                  <option value=0>0</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                  <option value=6>6</option>
                </select>
              </div>
            </div>
             <br>

            <!-- MSG -->
            <div class="form-group left">
              <label class="col-md-4 control-label" for="id_msg">Message</label>
              <div class="col-md-8">
                <textarea id="id_msg" class="form-control"  name="msg">default text</textarea>
              </div>
            </div>
            <br>

            <br>
            <div class="margin-top">
                <input class=" btn btn-lg btn-default" type="submit" name="submit" value="Confirm"/>
                    </div>





        </form>
      </div>




{% endblock %}