{% extends 'base.html' %}


{% block main %}
      <div class="container marketing margin-top">

        <form  class="col-md-5 col-md-offset-4" id="login_form" method="post" action="/main/login/">
            {% csrf_token %}
              <!-- username input-->
                    <div class="form-group margin-bot">
                      <div class="col-md-8">
                        <input id="id_username" name="username" type="text" placeholder="Username" class="form-control input-md">
                      </div>
                    </div>

                     <!-- Password input-->
                    <div class="form-group ">
                      <div class="col-md-8">
                          <input id="id_password" maxlength="128" name="password" type="password" placeholder="Password" class="form-control input-md">
                      </div>
                    </div>

                    <div class=" margin-top">
                        <input class=" btn btn-lg btn-default" type="submit" name="submit" value="Login"/>
                  </div>
        </form>
      </div>
{% endblock %}