{% extends 'base.html' %}


{% block main %}

    <body>
    <div style="position:relative;left:center;bottom:-150px;opacity:0.4;background-color:navy;">
        <h1>Register</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/main/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/main/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
            <a href="#" class="btn btn-lg btn-default">submit</a>
        </form>
        {% endif %}
    </div>
    </body>

{% endblock %}

{% block pollution %}

  <body>
    <div style="position:absolute; left:40%; top:12%">
        <h3><font color="black"><div class = "paraWidth">Reduce your carbon footprint!</div></font></h3>
        <p><font color="black"><div class = "paraWidth">100 carpooling people can prevent 1,320 pounds pounds of carbon monoxide from being released into the atmosphere in a single year.</div></font></p>
    </div>
  </body>

{% endblock %}

{% block money %}

  <body>
    <div style="position:absolute; left:10%; top:12%;">
        <h3><font color="black"><div class = "paraWidth">Save money!</div></font></h3>
        <p><font color="black"><div class = "paraWidth">Taking a car on the ferry is expensive. A driver can potentially save over $30 per trip.</div></font></p>
    </div>
  </body>

{% endblock %}

{% block convenient %}

  <body>
    <div style="position:absolute; left:70%; top:12%;">
        <h3><font color="black"><div class = "paraWidth">More convenient then the bus!</div></font></h3>
        <p><font color="black"><div class = "paraWidth">Riding the bus sucks. Get a faster, more comfortable rid for as little as $5 - $10</div></font></p>
    </div>
  </body>

{% endblock %}

