{% extends 'base.html' %}


{% block navbar %}
    <div class="pull-xs-right">
        <a class="navbar-brand" href="logout/">Logout</a>
    </div>
{% endblock %}
{% block main %}

<div class="container-fluid margin-top">
    <!-- search left side block -->
    <div class="col-md-offset-2 col-md-2 sidebar">
         <ul class="nav nav-sidebar list-group-item">
             <span class="sr-only">(current)</span></li>
             {% for trip in trips %}
                <li ><a href="/main/userpage/?trip={{trip.key}}"> {{trip.name}}</a></li>
             {% endfor %}
             <li><a href="/main/addtrip/"> + Add New Trip</a></li>
          </ul>

        {% if usertrip  %}
          <ul class="nav nav-sidebar list-group-item">
            <li><h4>Current Trip: {{usertrip.name}}</h4></li>
            <li><span>{{usertrip.origin}} -> {{usertrip.destination}}</span></li>
            <li><span>{{usertrip.date}}</span></li>
          </ul>

        {% endif %}

    </div>

    <!-- center block -->

     <div class="col-md-5">
            <div class="row  text-center margin-bot-19">

                {% if results %}

                <ul class="list-group">
                {% for result in results %}
                    <li class="list-group-item left ">
                        <h3 >{{result.user}}, {{result.looktype}}</h3>
                        <h4>{{result.origin}} -> {{result.destination}}, {{result.date}} </h4>
                        <div>
                            <span>{{result.msg}}</span>
                        </div>
                        <div class="right">
                         <button type="button" class="btn btn-default">Message</button>
                        </div>



                    </li>
                {% endfor %}
                </ul>
                {% else %}
                     <h4>There are no matches at this time :( </h4>


                {% endif %}




            </div>


{% endblock %}