.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.block {display: block;}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.pull-xs-right {
    float: right!important;
}

.scroll-overflow{
  overflow-y: auto;
  height: 100px;
  max-height: 100px;
  }

.scroll-overflow-large{
  overflow-y: scroll;
  max-height: 700px;
}

.margin-top{
  margin-top: 70px;
}
.margin-bot{
  margin-bottom: 40px;
}
.margin-top-bot-5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.right {
   text-align: right;
}

.left {
   text-align: left;
}


.center {
   text-align: center;
}

.navbar {
  border-bottom: 0px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.color-blue {
    background-color: #6699ff;
     border-color: #1e3f7b;
}

.panel-dark{
    color: #fff;
    background-color: #1e3f7b;
    border-color: #1e3f7b;
}

.navbar-default {
  background-color: #1e3f7b;
  border-color: #0;
  color: white;
}



.hidden {
  display: none;
}
